@import "tailwindcss";


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.8s ease forwards;
}


@keyframes rotateSwing {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
        /* left → right */
    }

    100% {
        transform: rotate(-15deg);
        /* right → left */
    }
}

.animate-rotate-swing {
    animation: rotateSwing 1.2s ease-in-out infinite;
}